<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>

</head>
<body>

<h1 class="centered fancy">Dashboard</h1>


<div id="welcome">
  <h2 id="welcome-message">Welcome to the Inventory System</h2>

  <p>
    You have <%= SalesItem.count %> items in the system.
  </p>

  <p>The <span id="average" class="bold-blue" onmouseover="document.getElementById('description').style.display = 'block'"
               onmouseout="document.getElementById('description').style.display = 'none'"  >average</span> price of the sale items is $<%=SalesItem.average(:price) %>
  </p>

</div>

<p  style="display: none" id="description" >The average is the sum divided by the count by using average().</p>


</body>
</html>

